<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>あなたにぴったり！KPOP系統診断！</title><!--ブラウザのタブのタイトルを指定-->
        <link rel="stylesheet" type="idols/css" href="stylesheets/index.css">
    </head>

    <body>
        <div class="fadeup">

            <div class="heart">
            </div>

            <header>
                <h1 class="headline">
                <a>
                당신이 좋아하는<br>
                KPOP아이돌의<br>
                유형 진단
                </a>
                </h1>
            </header>

            <div class="start">
                <h6>～あなたの好きなKPOPアイドルタイプ診断～</h6>
            </div>

            <section>
            <a href="idols/new" class="btn_06-2"><span>~スタート~       ≫</span></a>
            </section>
        </div>

        <footer>
        <small>© 2022 Kobayashi haruka </small>
        </footer>
    </body>



