<div class="fadeup">

    <div class="intoro">
        <h5>あなたの結果は・・・</h5>
    </div>

    <div class="sindankekka">
        <div class="box13">
            <h6>≪ＪＹＰ エンターテイメント≫<br>
            系統のアイドルが好き！</h6>
        </div>
    </div>

    <div class="setumei">
        <div class="gaiyou"> 
            <h6>正式名称は<span class="green">〈JYPエンターテインメント〉</span><br>
            よく〈ＪＹＰ〉と略称で呼ばれます。</h6>

            <p>
            ◎創業者は…<span class="green">パク・ジニョン氏（박진영）</span><br>
            現在もアーティストとして活躍を続けるパク・ジニョン氏だが、<br>
            大規模アイドル発掘プロジェクトを行い、<br>
            圧倒的なプロデュース力で大人気を集めるグループを輩出し続けている<br><br><br>
            
            ◎オーディションレベル：<span class="green">★★☆☆☆</span><br><br><br>
            
            ◎グループの特徴：<span class="green">圧倒的人間性の良さ</span><br>
            全体的には明るい聞きなじみのよい曲が多い。<br>
            しかし、グループによってガールクラッシュ等の<br>
            全く違うコンセプトであることがいえる<br>
            オーディションではＳＭ、ＹＧエンターテイメントより<br>
            ≪人間性≫を最も重視する傾向にある
            </p>
        </div>

        <div class="twice">
            <h6>＼＼＼特におすすめしたい！！ＪＹＰエンターテインメント所属の女性アイドル！！／／／</h6>
            <p>その名前は・・・<span class="pink">ＴＷＩＣＥ</span></p>
            <div class="twiceshoukai">
                <p>◎デビュー：２０１５年<br>
                ◎名前の由来：良い音楽で１度、素晴らしいパフォーマンスで２度魅了させる<br>
                ＫＰＯＰアイドルの中では魔の７年とも呼ばれる契約期間があるが、<br>
                ＴＷＩＣＥはメンバー全員が再契約した。<br>
                日本ではほかのＫＰＯＰアイドルに比べてＴＷＩＣＥは特に人気である</p>
            </div>

            <div class="twicepoint">
                <span class="twicepointbox">
                特にＴＷＩＣＥは…</span>
                <p><span class="pink">圧倒的ビジュアル × 親しみやすいダンス</span><br>
                ＪＹＰエンターテイメントの系統が好きなあなた…ＴＷＩＣＥ注目！！</p>
            </div>
        </div>

        <div class="twicekyoku">
            <h1>ＴＷＩＣＥのおすすめ曲は…</span></h1><br>
                <div class="twiceyoutube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/f5_wn8mexmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>

        <div class="straykids">
            <h6>＼＼＼特におすすめしたい！！ＪＹＰエンターテインメント所属の女性アイドル！！／／／</h6><br>
            <p>その名前は・・・<span class="pink">Stray Kids</span></p><br>
            <div class="straykidsshoukai"><p>
                ◎デビュー：２０１８年<br>
                ◎名前の由来：≪Stray≫：古いしきたりや伝統を打ち壊す<br>
                ≪Kids≫：デビューしたときはまだ子供だった　という意味
            </div>
        
            <div class="straykidspoint">
                <span class="straykidspointbox">特にStray Kidsは…</span>
                <p><span class="pink">独特な雰囲気 × 圧倒的ビジュアル</span><br>
                ほかのグループとは異なったダークな曲調が特徴<br>
                ラップやメインボーカルの担当に限らず、オールマイティに<br>
                こなせるメンバーが多い<br>
                ＪＹＰエンターテイメントの系統が好きなあなた…Stray Kidsに注目！！</p>
            </div>
        </div>

        <div class="straykidskyoku">
            <h1>StrayKidsのおすすめの曲は…</span></h1><br>
                <div class="straykidsyoutube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OvioeS1ZZ7o" title="YouTube video player" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>

        <div class="jypmatome">
            <div class="jypmatomebox">
            <p>ＳＭエンターテイメントに所属するアイドルたちは<br>
            ほかにもたくさんいます！<br>
            これをきっかけに検索してみてね！</p>
            </div>
        </div>
    </div>
</div>