<div class="fadeup">

    <div class="intoro">
        <h5>あなたの結果は・・・</h5>
    </div>

    <div class="sindankekka">
        <div class="box13">
            <h6>≪Ｓ Ｍ エ ン タ ー テ イ メ ン ト≫<br>
            系統のアイドルが好き！</h6>
        </div>
    </div>

    <div class="setumei">
        <div class="gaiyou"> 
            <h6>正式名称は<span class="green">〈ＳＭエンターテインメント〉</span><br>
            よく〈ＳＭ〉と略称で呼ばれます。</h6>

            <p>
            ◎創業者は…<span class="green">イ・スマン氏（이수만）</span><br>
            もともと歌手活動を行っていたイ・スマン氏であるが、<br>
            芸能事務所を立ち上げ、〈ＫＰＯＰ〉という<br>
            文化の火付け役であるＢｏＡや少女時代を輩出している。<br><br><br>
            
            ◎オーディションレベル：<span class="green">★★★★☆</span><br><br><br>
            
            ◎グループの特徴：<span class="green">個性×スペックの高さ</span><br>
            独特な電子音調とビジュアルを掛け合わせ、<br>
            他社のグループとは異色なグループが多く在籍する。
            </p>
        </div>

        <div class="nct127">
            <h6>＼＼＼特におすすめしたい！！ＳＭエンターテインメント所属の男性アイドル！！／／／</h6>
            <p>その名前は・・・<span class="pink">ＮＣＴ１２７</span></p>
            <div class="nct127shoukai">
                <p>◎デビュー：２０１６年<br>
                ◎名前の由来：〈Ｎｅｏ Ｃｕｌｔｕｒｅ　Ｔｅｃｈｎｏｌｏｇｙ〉<br>
                多くのユニットあり→EX）ＮＣＴＤＲＥＡＭやＮＣＴ　Ｕ<br>
                ＷａｙＶなどのグローバルに活躍している。</p>
            </div>

            <div class="nct127point">
                <span class="nct127pointbox">
                特にＮＣＴ１２７は…</span>
                <p><span class="pink">先進的音楽 × 圧倒的歌唱力 × ダンス力</span><br>
                ＳＭエンターテイメントの系統が好きなあなた…ＮＣＴ１２７注目！！</p>
                
            </div>
        </div>

        <div class="nct127kyoku">
            <h1>ＮＣＴ１２７のおすすめ曲は…</span></h1><br>
                <div class="nct127youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1oYWnbTSang" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>

        <div class="aespa">
            <h6>＼＼＼特におすすめしたい！！ＳＭエンターテインメント所属の女性アイドル！！／／／</h6><br>
            <p>その名前は・・・<span class="pink">aespa</span></p><br>
            <div class="aespashoukai"><p>
                ◎デビュー：２０２０年<br>
                ◎テーマ：もう一人の自分と出会い、新しい世界を経験していく<br>
                ◎メンバー：カリナ、ウインター（韓国）<br>
                ジゼル（日本）ニンニン（中国）</p>
            </div>
        
            <div class="aespapoint">
                <span class="aespapointbox">特にaespaは…</span>
                <p><span class="pink">先端的な音楽 × 圧倒的ビジュアル</span><br>
                先進的な音楽の中に曲調が大きく変化することも特徴<br>
                ＳＭエンターテイメントの系統が好きなあなた…aespaに注目！！</p>
            </div>
        </div>

        <div class="aespakyoku">
            <h1>aespaのおすすめの曲は…</span></h1><br>
                <div class="aespayoutube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WPdWvnAAurg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>

        <div class="smmatome">
            <div class="smmatomebox">
            <p>ＳＭエンターテイメントに所属するアイドルたちは<br>
            ほかにもたくさんいます！<br>
            これをきっかけに検索してみてね！</p>
            </div>
        </div>
    </div>
</div>