<div class="fadeup">

    <div class="intoro">
    <h5>あなたの結果は・・・</h5>
    </div>

    <div class="sindankekka">
        <div class="box13">
            <h6>≪ ＹＧ エンターテイメント ≫<br>
            系統のアイドルが好き！</h6>
        </div>
    </div>

    <div class="setumei">
        <div class="gaiyou"> 
            <h6>正式名称は<span class="green">〈ＹＧエンターテインメント〉</span><br>
            よく〈ＹＧ〉と略称で呼ばれます。</h6>

            <p>
            ◎創業者は…<span class="green">ヤン・ヒョソク氏（양현석）</span><br>
            韓国で大人気であった〈ソテジワアイドル〉であった<br>
            ヤン・ヒョソク氏であるが、<br>
            芸能事務所を立ち上げ、韓国のみならず、日本や世界で爆発的に人気と<br>
            なったＢＩＧＢＡＮＧを筆頭にＢＬＡＣＫＰＩＮＫなど<br>
            世界レベルで活躍するアイドルを輩出している。<br><br><br>
            
            ◎オーディションレベル：<span class="green">★★★☆☆</span><br><br><br>
            
            ◎グループの特徴：<span class="green">完全実力主義</span><br>
            女性のグループでもラップ調を中心とした音楽がが多く、<br>
            鼻声っぽいような声であるアーティストが多いことも特徴である。
            </p>
        </div>

        <div class="blackpink">
            <h6>＼＼＼特におすすめしたい！！ＹＧエンターテインメント所属の女性アイドル！！／／／</h6>
            <p>その名前は・・・<span class="pink">ＢＬＡＣＫＰＩＮＫ</span></p>
            <div class="blackpinkshoukai">
                <p>◎デビュー：２０１６年<br>
                ◎名前の由来：ＢＬＡＣＫ：色からもわかるように≪強さ≫≪自信≫<br>
                ＰＩＮＫ：≪女性らしさ≫≪かわいらしさ≫<br>
                これらをあわせて、≪かわいらしさが全てではない≫という意味が込められている<br>
                </p>
            </div>

            <div class="blackpinkpoint">
                <span class="blackpinkpointbox">
                特にＢＬＡＣＫＰＩＮＫは…</span>
                <p><span class="pink">力強いラップ × 圧倒的実力 </span><br>
                世界的にもＫＰＯＰの枠を超える世界的に有名で人気！！<br>
                ＹＧエンターテイメントの系統が好きなあなた…ＢＬＡＣＫＰＩＮＫ注目！！</p>
            </div>
        </div>

        <div class="blackpinkkyoku">
            <h1>ＢＬＡＣＫＰＩＮＫのおすすめ曲は…</span></h1><br>
                <div class="blackpinkyoutube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2S24-y0Ij3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>

        <div class="treasure">
            <h6>＼＼＼特におすすめしたい！！ＹＧエンターテインメント所属の男性アイドル！！／／／</h6><br>
            <p>その名前は・・・<span class="pink">ＴＲＥＡＳＵＲＥ</span></p><br>
            <div class="treasureshoukai"><p>
                ◎デビュー：２０２０年<br>
                ◎名前の由来：〈ＹＧ宝石箱〉というサバイバル番組でＹＧが所属している練習生を<br>
                宝石のように隠しているというファンの不満を逆手にとってつけられたもの。<br>
            </div>
        
            <div class="treasurepoint">
                <span class="treasurepointbox">特にＴＲＥＡＳＵＲＥは…</span>
                <p><span class="pink">圧倒的芸人感 × メンバーの個性</span><br>
                面白いメンバーが集まっているが、<br>
                ダンスや歌のレベルも高く、練習を怠らない様子も<br>
                コンテンツからもよくわかる！<br>
                ＹＧエンターテイメントの系統が好きなあなた…ＴＲＥＡＳＵＲＥに注目！！</p>
            </div>
        </div>

        <div class="treasurekyoku">
            <h1>ＴＲＥＡＳＵＲＥのおすすめの曲は…</span></h1><br>
                <div class="treasureyoutube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZJaKdBBzUYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        </div>

        <div class="ygmatome">
            <div class="ygmatomebox">
            <p>ＹＧエンターテイメントに所属するアイドルたちは<br>
            ほかにもたくさんいます！<br>
            これをきっかけに検索してみてね！</p>
            </div>
        </div>
    </div>
</div>